# Python
__pycache__/
*.py[cod]
llmtest.py
qdrant_search_test.py

# Virtual environment
venv/
.venv/
venv_wsl/

# Environment variables / secrets
.env

# IDE
.vscode/
.idea/

# Local vector database
# qdrant_db/

# Generated embeddings
# *.npy

# Logs
*.log

# OS files
.DS_Store
Thumbs.db